@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Comfortaa:wght@300..700&family=Delius&family=DynaPuff:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Lobster&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --maincolor: #bb3e22;
  --olive: #044e15;
  --bgWheat: rgb(246, 233, 221);
  --bgOrange: #ff4500;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

header {
  backdrop-filter: blur(7px);
  display: flex;

  position: absolute;
  z-index: 5;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
  h1 {
    font-family: DynaPuff;
    font-size: 32px;
    color: white;
    font-weight: 800;
    -webkit-text-stroke: 1px var(--maincolor);

    span {
      color: var(--maincolor);
      -webkit-text-stroke: 1px white;
    }
  }
  nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      font-family: Comfortaa;
      font-weight: 800;
      transition-duration: 0.3s;
    }
    a:hover {
      color: var(--maincolor);
    }
  }
  .change-language {
    button {
      display: flex;
      align-items: center;
      gap: 8px;
      border: none;
      background: none;
      color: white;
      font-size: 20px;
      font-family: Comfortaa;
      cursor: pointer;
      transition-duration: 0.3s;
      img {
        width: 20px;
        height: 20px;
      }
    }

    .dropdown {
      margin-top: 10px;
      position: absolute;
      display: flex;
      flex-direction: column;
      box-shadow: -2px 3px 7px 1px rgba(142, 137, 137, 0.75);
      background: white;
      padding: 22px;
      border-radius: 10px;
      gap: 14px;
      p {
        font-family: Comfortaa;
        font-size: 18px;
        font-weight: 800px;
        border-bottom: 1px solid #ececec;
        padding-bottom: 4px;
        cursor: pointer;
        transition-duration: 0.3s;
      }
      p:hover {
        color: var(--maincolor);
      }
    }
  }
}

main {
  .banner {
    position: relative;
    top: 0;

    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/src/images/banner.svg);
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    padding-bottom: 5%;
    gap: 150px;
    h1 {
      color: white;
      font-size: 96px;
      font-weight: 900;
      font-family: DynaPuff;
      backdrop-filter: blur(2px);
      padding: 10px;

      -webkit-text-stroke: 2px #bb3e22;
      span {
        color: #bb3e22;
        -webkit-text-stroke: 2px white;
      }
    }
    p {
      font-family: Comfortaa;
      color: white;
      font-size: 28px;
      width: 55%;
      text-align: center;
    }
  }
  .about {
    padding: 70px 100px;
    h1 {
      font-weight: 600;
      font-size: 62px;
      color: var(--maincolor);
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      margin-bottom: 36px;
      text-transform: uppercase;
    }
    .info {
      display: flex;
      gap: 50px;
      flex-direction: column;
      align-items: center;

      .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        p {
          font-family: Comfortaa;
          line-height: 36px;
          font-size: 24px;
          font-weight: 400;
          color: var(--olive);
          span {
            color: var(--maincolor);
            font-weight: 800;
            font-family: Comfortaa;
          }
        }
      }
    }
  }
  .services {
    background: var(--maincolor);
    padding: 50px 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
      padding: 10px;
      border-radius: 20px;
      font-weight: 600;
      font-size: 62px;
      color: var(--bgWheat);
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 36px;
      text-transform: uppercase;
    }
    .slider-servicies {
      padding-bottom: 50px;
      .slick-slide {
        padding: 0 20px;
      }
      .card {
        width: 100%;

        background: var(--bgWheat);
        display: flex !important;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
        padding: 16px;
        box-sizing: border-box;

        h2 {
          font-size: 28px;
          color: var(--maincolor);
          margin-top: 8px;
          font-family: Inter;
          font-weight: 600;
        }

        button {
          font-size: 20px;
          font-family: Comfortaa;
          color: var(--olive);
          font-weight: 800;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          border: none;
          cursor: pointer;
          gap: 4px;

          img {
            width: 30px;
            height: 30px;
          }
        }

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
      }
      .slick-prev,
      .slick-next {
        &::before {
          color: var(--bgWheat);
          font-size: 30px;
          opacity: 100%;
        }
        &:hover {
          opacity: 90%;
        }
      }
      .slick-next {
        right: -35px;
      }
      .slick-prev {
        left: -35px;
      }
      .slick-dots {
        bottom: -35px;
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;
       gap: 8px;

        li {
          width: 12px;
            height: 12px;
            margin: 0;
          button {
            width: 12px;
            height: 12px;
            background-color: var(--bgWheat);
            border-radius: 50%;
            opacity: 60%;

            &::before {
              display: none;
            }
          }
          &.slick-active button {
            opacity: 100%;
          }
        }
      }
      .open-card {
        position: fixed;
        inset: 0;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: all;

        .overlay {
          position: absolute;
          inset: 0;
          background-color: rgba(0, 0, 0, 0.6);
          animation: fadeIn 0.3s ease forwards;
          cursor: pointer;
        }

        .content {
          position: relative;
          background: var(--bgWheat);
          padding: 2rem;
          border-radius: 12px;
          width: 60%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          overflow-y: auto;
          z-index: 10;
          gap: 20px;
          opacity: 0;
          transform: scale(0.95);
          animation: scaleIn 0.3s ease forwards;

          img {
            width: 40%;
      
            object-fit: cover;
            border-radius: 8px;
          }

          p {
            color: var(--olive);
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            font-family: Comfortaa;
          }
        }

        .close {
          position: absolute;
          top: 1rem;
          right: 1rem;
          background: transparent;
          border: none;
          padding: 0;
          cursor: pointer;

          img {
            width: 24px;
            height: 24px;
          }
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      @keyframes scaleIn {
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
  .packages {
    padding: 50px 100px;
    background-color: var(--bgWheat);
    h1 {
      padding: 10px;
      border-radius: 20px;
      font-weight: 600;
      font-size: 62px;
      color: var(--maincolor);
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 36px;
      text-transform: uppercase;
    }
    .dates {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .data {
        background: #bb3e22;
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
        padding: 22px;
        h1 {
          font-size: 28px;
          color: var(--bgWheat);
          text-transform: capitalize;
          font-family: Inter;
          font-weight: 600;
          margin: 8px 0 0 0;
        }
        p {
          color: white;
          font-family: comfortaa;
          font-size: 18px;
          line-height: 20px;
          opacity: 80%;
        }
        h3 {
          font-size: 32px;
          text-align: center;
          color: white;
          font-family: Inter;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .contact-form {
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      font-weight: 600;
      font-size: 62px;
      color: var(--maincolor);
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 36px;
      text-transform: uppercase;
    }
    .information{
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 120px;
      align-items: center;
      .contacts{
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        a{
          display: flex;
          align-items: center;
          gap: 6px;
          font-size: 22px;
          font-family: Comfortaa;
          color: black;
          text-decoration: none;
          img{
            width: 40px;
            height: 40px;
          }
        }
        .media{
          margin-top: 20px;
          display: flex;
          align-items: center;
         
          gap: 30px;
          a{
            img{
              width: 60px;
              height: 60px;
            }
          }
        }
      }
    .form {
      width:30%;
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .input {
          width: 100%;
          input,
          textarea {
            width: 100%;
            font-family: Comfortaa;
            padding: 12px 10px;
            background: none;
            border: var(--maincolor) 1px solid;
            font-size: 18px;
            color: black;
            border-radius: 10px;
          }
          input::placeholder,
          textarea::placeholder {
            color: black;
          }
          input:focus,
          textarea:focus {
            outline: none;
          }
          textarea {
            resize: none;
            height: 100px;
          }
          p {
            font-size: 14px;
            margin-top: 8px;
            font-family: Arial;
            color: red;
          }
        }
        button {
          margin-top: 10px;
          width: 90%;
          font-size: 20px;
          padding: 12px 24px;
          font-family: Comfortaa;
          border-radius: 8px;
          border: none;
          cursor: pointer;
          background: var(--maincolor);
          color: white;
        }
      }
    }}
    .overlay {
      background: rgba(0, 0, 0, 0.304);
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .lottie-animation {
        width: 40%;
        background: white;
        padding: 70px;
        border-radius: 10px;
      }
    }
  }
}
footer {
  
  background: var(--bgWheat);
  .footer-top{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 50px 100px;
    .logo{
      width: 30%;
      h1{
        font-family: DynaPuff;
        font-size: 32px;
        color: white;
        font-weight: 800;
        -webkit-text-stroke: 1px var(--maincolor);
    
        span {
          color: var(--maincolor);
          -webkit-text-stroke: 1px white;
        }
      }
      p{
        font-size: 22px;
        font-family: Comfortaa;
        margin-top: 12px;
      }
    }
    .navigation{
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 30%;
      h2{
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
color: var(--maincolor);
      }
      a{
        font-size: 22px;
        font-family: Comfortaa;
        text-decoration: none;
        color: black;
        width: 100%;
      }
    }
    .contacts{
      width: 33%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      h2{
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
color: var(--maincolor);
      }
        a{
          font-size: 22px;
          font-family: Comfortaa;
          text-decoration: none;
          color: black;
          width: 100%;
          display: flex;
          align-items: center;
          gap: 8px;

          img{
            width: 30px;
            height: 30px;
          }
        }
      .media{
        margin-top: 26px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 24px;
        a{
          width: 60px;
          height: 60px;
        img{
          width: 60px;
          height: 60px;
        }
      }
      }
    }
  }
  .footer-span{
    width: 100%;
    
    background-color: var(--maincolor);
    display: flex;
    align-items: center;justify-content: center;
    padding: 16px 100px;
    h3{
      color: var(--bgWheat);
      font-size: 16px;
      font-weight: 400;
      font-family: Comfortaa;
    }
  }
}
.slider-container {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  .slick-slide {
    padding: 16px;
  }
  div:focus {
    outline: none;
    border: none;
  }

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: none;
  }
  img:focus {
    outline: none;
    border: none;
  }
  img:hover {
    transform: scale(1.07);
  }
}
